@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sideImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90vw, 970px);
    overflow: hidden;
}

.sideImage>img {
    position: relative;
    left: calc(60px - 4vw);
    height: 900px;
    width: auto;
}

.logoSection {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6vh;
    width: 40vw;
    background-color: rgba(36, 36, 36, 0.5);
}

.logoSection>img {
    width: 70px;
}

.logoText {
    font-family: 'Rubik Glitch', cursive;
    font-size: 3rem;
    color: white;
}

.sideImageFooter {
    position: absolute;
    bottom: 12px;
    background-color: rgba(36, 36, 36, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.sideImageFooter>p>a {
    color: cyan;
}

.mainContent {
    background-color: white;
    z-index: 1;
}