@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sideImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90vw, 970px);
    overflow: hidden;
}

.sideImage>img {
    position: relative;
    left: calc(60px - 4vw);
    height: 900px;
    width: auto;
}

.logoSection {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6vh;
    width: 40vw;
    background-color: rgba(36, 36, 36, 0.5);
}

.logoSection>img {
    width: 70px;
}

.logoText {
    font-family: 'Rubik Glitch', cursive;
    font-size: 3rem;
    color: white;
}

.sideImageFooter {
    position: absolute;
    bottom: 12px;
    background-color: rgba(36, 36, 36, 0.5);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.sideImageFooter>p>a {
    color: cyan;
}

.mainContent {
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.description,
.formContainer {
    padding: 10px 20px;
}

.description {
    font-size: clamp(1rem, 5vw, 1.8rem);
}

.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    flex: 1;
}

form>h1 {
    width: 100%;
    font-size: 1.5rem;
}

form>section {
    display: flex;
    flex-wrap: wrap;
}

form>section>p>label {
    display: flex;
    flex-direction: column;
    width: max(160px, 30vw);
    padding: 5px;
}

form>section>p>label>span {
    text-transform: uppercase;
}

form>section>p>label>input {
    outline: none;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    height: 1.8rem;
    padding: 0 10px;
}

form>section>p>label>input:hover {
    border: 1px solid rgba(0, 0, 0, 0.4);
}

form>section>p>label>input:focus {
    border: 1px solid #1100ff;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.23);
}

form>section>p>label>input:invalid,
.error {
    border: 1px solid #ff0000;
}

#mail:invalid+#invalidEmail::after {
    content: "Please enter a valid email";
    font-size: 0.8rem;
    color: red;
}

#phone_number:invalid+#invalidPhone::after {
    content: "Please enter a valid phone";
    font-size: 0.8rem;
    color: red;
}

#invalidPassword {
    font-size: 0.8rem;
    color: red;
}

form>p>button {
    background-color: #596D48;
    color: white;
    margin-top: 10px;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    font-weight: bolder;
}